*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    color: #5A6473;
    padding: 20px 0;
}

.container{
    width: 1200px;
    margin: auto;
    padding: 5%;
}

/* =============Start Header============== */

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header ul{
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
}

.header_child{
    gap: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #0F1B4C;
    list-style: none;
    text-decoration: none;
}

.container button{
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    color: white;
    background-color: #0F1B4C;
}

/* ================Header End============== */

/* ================Start Hero============== */

.hero{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero_left{
    width: 50%;
}

.hero_left h1{
    color: #000336;
}

.hero_right{
    width: 50%;
}

/* ================Hero End================ */

/* ================Start Main============== */

main{
    padding: 5% 0;
}

.main_top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main_top .icons{
    gap: 5px;
    color: yellow;
    display: flex;
}

.main_bottom{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ================Main End================ */

/* ================Start Nav=============== */

nav{
    padding: 5%;
}

.nav_top{
    text-align: center;
}

.cards{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cards .card{
    border: none;
    text-align: center;
}

.card i{
    font-size: 30px;
    color: #F7A804;
}

.card a{
    color: #0689FF;
    text-decoration: none;
}

nav button {
    margin-left: 420px;
    margin-top: 50px;
}

/* ================Nav End================= */

/* ================Start Section=========== */

section{
    background-color: #F5FAFE;
}

.section_top{
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section_top a{
    text-decoration: none;
}

.icon{
    display: flex;
    gap: 20px;
    text-align: center;
}

.section_bottom .cards{
    padding-bottom: 5%;
}

.card1 i{
    font-size: 20px;
    color: #F7A804;
}

.card1{
    height: 350px;
    background-color: #fff;
    padding: 10px;
    padding-top: 200px;
    border-radius: 8px;
}

/* ================Section End============= */

/* ================Start Article=========== */

.article_top{
    width: 100%;
    gap: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.article_left{
    width: 50%;
}

.article_right{
    width: 50%;
}

.article_bottom{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* ================Article End============= */

/* ================Start Aside============= */

aside{
    margin-top: 15%;
    padding: 9% 0 5% 5%;
    color: #fff;
    border-radius: 10px;
    background-color: #063183;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

aside button {
    background-color: #fff;
    color: #002366;
}

.aside_right img{
    position: relative;
    top: -407px;
    right: -500px;
    overflow: hidden;
}

/* ================Aside End=============== */

/* ================Start Footer============ */

footer{
    margin-top: -250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap:2rem;
}

footer .icons{
    display: flex;
    gap: 1rem;
    color: #646464;
}

.footer_end{
    padding-top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ================Footer End============== */